Django==5.2.9
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1

django-cors-headers==4.9.0
drf-spectacular==0.29.0

python-decouple==3.8
python-dotenv==1.2.1

requests==2.32.5

Pillow==12.0.0

redis==7.1.0
django-redis==6.0.0
psycopg2-binary==2.9.12
celery==5.6.0
django_celery_results==2.6.0

kavenegar==1.1.2

openpyxl==3.1.5

django-prometheus==2.5.0

amqp==5.3.1
billiard==4.2.4
kombu==5.6.1
vine==5.1.0

sqlparse==0.5.4
tzdata==2025.2